* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 6rem;
    background-color: #ff9c3361;
}

h2 {
    text-align: center;
}

input {
    color: gray;
    font-size: 1.3rem;
    width: 100%;
    border-radius: 10px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .card-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      align-items: center;
    }
  }

.card {
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.card img {
    width: 100%;
    max-height: 170px;
}
